# ASSIGNMENTS - Compulsory
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.


1. What is indentation error? Why indentation is important? Give one simple example?

#### Ans:- If we are not providing proper white spaces so that the interpreter would able to understand the block of code that is what all lines of code to be executed  then we get Indentation Error.

In [9]:
calculated_age= 20
print(f"The age is : {calculated_age}")

The age is : 20

In [8]:
class_started = int(input("If class started give input 1 otherwise give input 0 : "))


if  class_started :
      print("Since class started...")
      print("Lets concentrate")
else:
      print("Since class is not started...")
      print("let's revise")

If class started give input 1 otherwise give input 0 : 0
Since class is not started...
let's revise

3. Use if else condition to verify that dataype of `input()` method in python is always string.

In [10]:
class_started = input("Hey friend, is class started?: [0-False/1-True]")

if type(class_started) == str:
  print(type(class_started))
  print("Input is a string")
else:
  print("Input is not a string")

Hey friend, is class started?: [0-False/1-True]1
<class 'str'>
Input is a string

4. Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.

In [11]:
a= 1020

b= 902
c= 5006

if a < b:
  if b < c:
    print("C is greater")
  else:
    print("B is greater")
else:
  print("A is greater")

A is greater

5. What would be the solution?

True

False

In [13]:
a = 6
b = 10
print( not ( not a == 10 or not b == 10) )

False

6. Find the answer as well as find out the reason behind the result?

In [ ]:
# Case 1

A= 5.0
B= 10/2

print(A is B)

"""A is floating type number with base 10 where as B is arithmatic operation with base 2 thats why the value is False. 
Python only prints a decimal approximation to the true decimal value of the binary approximation stored by the machine.
"""

False

'A is floating type number with base 10 where as B is arithmatic operation with base 2 thats why the value is False. \nPython only prints a decimal approximation to the true decimal value of the binary approximation stored by the machine.\n'

In [ ]:
# Case 2
A = 5.0
B = int(10/2)
print(A is B)

"""
A is floating type number with base 10 and B is type casted to integer with base 2 so it is printed as False
"""

False

'\nA is floating type number with base 10 and B is type casted to integer with base 2 so it is printed as False\n'

In [ ]:
A = 5.0
B = float(10/2)
print(A is B)
"""
the arithmatic expression is of base 2 and is converted to float type . Same as case 1 

"""

False

'\nthe arithmatic expression is of base 2 and is converted to float type . Same as case 1 \n\n'

### Try to understand the following examples and answer the question based on it - 
    
**Arithmatic Operators**

|Operation|Meaning|
|:-:|:-:|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer division|
| **%** |the modulo operator|


Here `+`, `-`, `*`, `/` are regular arithmatic operators. Lets look at the `//` and `%` operators

Usecase or examples - 
    
```python
var_a = 5
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/5=5

```python
var_a = 3
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/3=8

```python
var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/5 is 0

```python
var_a = 3
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/3 is 1


7. Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

In [ ]:
number = int(input("Please enter the number to check for the divisibility by 3 or 5 : "))

if number % 3 ==0  or number % 5 == 0:
  print("The number is either divisible by 3 or 5")
else:
  print("The number is not divisble by 3 or 5")

Please enter the number to check for the divisibility by 3 or 5 : 4
The number is not divisble by 3 or 5

8. Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

In [2]:
length = int(input("Please enter the length in metres: "))
width = int(input("Please enter the width in metres: "))

area= length * width

if (length == width):
  print(f"As the length {length} metre and width {width} metres are same so it is a square")

else:
  print(f"The area of the rectangle with length {length} metres and width {width} metres is : {area} sq. metres")

Please enter the length in metres: 4
Please enter the width in metres: 4
As the length 4 metre and width 4 metres are same so it is a square


9. Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

In [1]:
radius_1 = int(input("Please enter the radius of the 1st circle in mts : "))
radius_2 = int(input("Please enter the radius of the 2nd circle in mts : "))

area_circle_1 =  3.14 * radius_1 ** 2
area_circle_2 =  3.14 * radius_2 ** 2

if area_circle_1 == area_circle_2:
  print("Both the circles have equal Area")
else:
  if area_circle_1 > area_circle_2:
    print(f"Circle one has larger area of {area_circle_1} sq mts ")
  else:
    print(f"Circle two has larger area of {area_circle_2} sq. mts ")

Please enter the radius of the 1st circle in mts : 4
Please enter the radius of the 2nd circle in mts : 5
Circle two has larger area of 78.5 sq. mts

10. Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

In [12]:
leap_year = 2100

if leap_year % 4 == 0 :
  if leap_year % 400 ==0:
    print("It is a leap year")
  else:
    print("Not a leap year")
else:
  print("It is not a leap year")

Not a leap year